@import '../style/colors.scss';
@import '../style/mixins.scss';

$toggle-group-height: 40px;
$radio-width: 80px;

.co-toggle-group {
  display: flex;
  background: $toggle-grey;
  height: 36px;
  border-radius: 10px;
  @include align-center;

  input[type="radio"] {
    display: none;
  }

  .co-toggle-label {
    cursor: pointer;
    margin: 0;
    font-weight: normal;
    padding: 0 5px;
    color: black;
    flex-grow: 1;
    height: 36px;
    @include center;
  }

  .co-toggle-label:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .co-toggle-label-selected {
    box-sizing: content-box;
    padding: 2px 5px;
    height: 100%;
    border-radius: 10px;
    color: white;
    background: $toggle-blue;
  }
}