.co-unarchive {
  border-radius: 50%;
  box-sizing: border-box;
  fill: #5B7FA5;
  background: rgba(14, 91, 97, 0.18);
  border: 1px solid #D4DAE7;
  box-shadow: 0px 3px 6px rgba(18, 50, 120, 0.18);
}