.card {
    border: none;
    border-radius: 0px;
}

.summary-panel {
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(180, 180, 180, 0.3);

    h1 {
        font-size: 3.0rem;
    }

    .card-title {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .card-body {
        padding-left: 2.0rem;

        .percentage-change {
            padding-top: 1.5em;
        }
    }
}

.summary-panel-body {
    border-radius: 4px 4px 0 0;
}
