@import '../../index.scss';
@import '../../../style/colors';

.panel-header {
  background: $panelblue;
  color: white;
  height: 44px;
  font-weight: 600;
  padding: 0 0 0 2.25rem;
  box-shadow: 2px 2px 2px $shadow;

  .co-panel-header-title {
    padding: 0 0 2px 0;
  }

  .co-panel-header-spinner {
    padding: 0 8px;
  }
}
