@import '../../index.scss';

.panel-header {
  @include panel-padding;

  background: grey;
  color: white;
  margin-bottom: 0.25rem;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 2px 2px 2px rgba(180, 180, 180, 0.3);

  .info-icon {
    margin-left: 15px;

    svg {
      color: white;
    }
  }
}
