// TOOO: Support absolute import from node_modules
@import '../style/colors.scss';

.list-row {
  height: 60px;
  background: white;
  border-bottom: 2px solid $lightgrey;

  .co-col {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }


  button:nth-of-type(2n) {
    margin: 0 0 0 4px;
  }
}

.list-placeholder {
  background: white;
  height: 600px;
}

.hover-cursor {
  &:hover {
    background: lighten($lightgrey, 10%);
    cursor: pointer;
  }
}

.search-offset {
  position: absolute;
  top: -48px;
  right: -15px;
}

.selected {
  background: $list-selected;
}

a { 
  color: $link-text;
}