@import '../style/colors.scss';

.co-list-button {
  background: #FFFFFF;
  border-radius: 18px;
  border: none;
  padding: 7px 14px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid white;
  color: $doseme-blue;
}

.co-list-button:not([disabled]) {
  box-shadow: 0px 2px 12px rgba(18, 50, 120, 0.1);
}

.co-list-button:disabled {
  opacity: 0.7;
}

.co-list-button-sm {
  height: 24px;
  font-size: 12px;
  line-height: 14px;
  padding: 4px 10px;
}

.co-list-button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 12px rgba(18, 50, 120, 0.20);
  border: 1px solid $toggle-grey;
}