@import '../style/colors.scss';

$side: 8px;
$padding-horizontal: 0 $side * 2;
$padding-vertical: 5px 0;
$padding-all: 5px 10px;

.co-form-field-optional-label {
  text-transform: uppercase;
  font-size: 8px;
  color: $darkgrey;
  font-weight: bold;
  margin: 0 0 0 5px;
}

.co-dropdown-placeholder {
  padding: $padding-all;
}

.co-dropdown-search {
  padding: 5px $side 5px $side;
  width: 100%;

  input {
    width: 100%;
  }

  .search-wrapper {
    width: 100%;
  }
}

ul.co-dropdown-list {
  padding: 0px !important;
  margin: 0px !important;

  li {
    list-style: none;
    padding: 3px $side 3px $side;
    
    &:hover {
      background: $dropdown-blue !important;
      cursor: pointer;
    }
  }

  li.co-dropdown-item-disabled {
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.co-dropdown-wrapper {
  position: relative;
}

.co-dropdown-closed {
  padding: 8px;
  background: $lightest-grey;
  border: 1px solid $darkgrey;
  border-radius: 5px;
}

.co-dropdown-invalid {
  border: 1px solid red;
}

.co-form-field-label-invalid {
  color: $invalidRed;
}

.co-dropdown-label {
  margin: 0;
}

.co-dropdown {
  background: $lightest-grey;
  position: absolute;
  padding-bottom: 10px;
  top: 0px;
  border: 1px solid $darkgrey;
  border-radius: 5px;
  width: 100%;
  z-index: 5;
}

.co-dropdown-list {
  max-height: 200px;
  overflow-y: scroll;
}

.active {
  border-color: $navy;
}

.co-dropdown-closed:after {
  content: '◀ ▶';
  font: 10px "Consolas", monospace;
  color: #333;
  transform: rotate(90deg);
  right: 4px;
  top: 11px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}

.co-dropdown-closed select {
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-image: none;
  word-break: normal;
}

.co-dropdown-no-options {
  &:hover {
    cursor: not-allowed;
  }
}

.co-dropdown-disabled {
  opacity: 0.5;
}