@import '../style/colors.scss';

.panel-outer {
  box-shadow: 6px 6px 8px 2px $shadow;

  .with-border {
    border-top: 1px solid $lightgrey;
  }
}

.panel-section {
  width: 100%;
  padding: 1em 2.75em 1em 1.75em;
}

.panel-section-side {
  border-left: 20px solid $skyblue;
}