@import '../style/colors';

.search-outer {
  display: flex;

  .search-wrapper {
    position: relative;

    .smart-list-search {
      font-size: 1em;
      margin: 0;
      position: relative;
      color: grey;
      border: 1px solid $lightgrey;
      border-radius: 4px;
      padding: 8px;
      outline: none;
    }

    .co-search-icon {
      position: absolute;
      background: white;
      top: 10px;
      right: 5px;
      border-right: 4px solid white;
      border-left: 4px solid white;
    }
  }
}
