@import '../style/colors';

.search-wrapper {
  position: relative;
  width: 230px;

  .smart-list-search {
    font-size: 1rem;
    width: 100%;
    margin: 0;
    position: relative;
    color: grey;
    border: 1px solid $lightgrey;
    border-radius: 4px;
    padding: 8px;
    font-weight: lighter;
  }

  .co-search-icon {
    position: absolute;
    background: white;
    top: 10px;
    right: -10px;
    border-right: 4px solid white;
    border-left: 4px solid white;
  }

  // .search-icon {
  //   position: absolute;
  //   background: white;
  //   height: 100%;
  //   top: 0px;
  //   border-top: 1px solid $lightgrey;
  //   border-bottom: 1px solid $lightgrey;
  //   right: -5px;
  //   box-sizing: border-box;
  // }
}
