@import '../../../style/colors.scss';

.co-smart-list-header {
  background: $panelblue;
  color: white;
  height: 44px;
  font-weight: bold;

  .fa-w-10 {
    font-size: 15px;
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
