// Based on https://simplegrid.io/
// Modified to remove typeography and integrate with react.

$width: 100%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px
$padding: 0 0.75rem;

.co-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 100%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .co-container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .co-container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .co-container {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .co-container {
    max-width: 1140px !important;
  }
}

.co-container-fluid {
  max-width: none !important;
}

.co-row {
  position: relative;
  width: 100%;
  display: flex;
}

.co-row [class*="co-col"] {
  float: left;
  padding: $padding;
  min-height: 0.125rem;
}

.co-row::after {
  content: "";
  display: table;
  clear: both;
}

.co-col {
  width: $width;
}

.co-col-checkbox-only { 
  width:($width / 24); 
  padding: 0 0.375rem .17rem 1.25rem !important;
}

.co-col-1 { width:($width / 12); }
.co-col-2 { width: ($width / 6); }
.co-col-3 { width: ($width / 4); }
.co-col-4 { width: ($width / 3); }
.co-col-5 { width: ($width / (12 / 5)); }
.co-col-6 { width: ($width / 2); }
.co-col-7 { width: ($width / (12 / 7)); }
.co-col-8 { width: ($width / (12 / 8)); }
.co-col-9 { width: ($width / (12 / 9)); }
.co-col-10 { width: ($width / (12 / 10)); }
.co-col-11 { width: ($width / (12 / 11)); }
.co-col-12 { width: $width; }

@media screen and (max-width: $breakpoint-med) {
  .co-col-hide-med {
    display: none !important;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .co-col-hide-sm {
    display: none !important;
  }
}

