@import '../style/colors.scss';

.co-input {
  border: none;
  font-size: 1rem;
  padding: 8px;
  border: 1px solid $lightgrey;
  border-radius: 4px;
  font-weight: lighter;
  box-sizing: border-box;
  width: 100%;
}

.form-field-invalid {
  border-color: $invalidRed;
} 

.ui-form {
  &:focus {
    box-shadow: none;
    border-color: $panelblue;
  }
}
