@import '../style/colors.scss';

.context-menu {
  border: 1px solid $toggle-grey;
  padding: unset;
  width: 260px;
  background: white;
}

.context-menu-header {
  height: 68px;
  font-weight: 600;
  background: $menu-grey;
  border-bottom: 2px solid $toggle-grey;
}

.context-menu-item, .context-menu-header {
  border-radius: 0px !important;
}

.icon {
  color: $lightgrey;
}

.context-menu-item {
  font-weight: lightest;
}

.item-text {
  padding: 0 0 6px 5px;
}

.context-menu-item {
  &:hover {
    background: $menu-grey;
    cursor: pointer;

    .icon {
      color: #09325f;
    }
  }

}
