$panelblue: rgb(81, 88 ,115);
$teal: rgb(0, 171, 176);
$darkteal: rgb(4, 156, 165);
$lightgrey: rgb(218, 218, 218);
$darkgrey: rgb(107, 107, 107);
$darkblue: rgb(0, 21, 61);
$ade: rgb(226, 175, 75);
$subtherapeutic: rgb(119, 126, 167);
$see: rgb(247, 135, 100);
$inRange: rgb(140, 168, 170);
$warning: rgb(255, 193, 7);
$footerblack: rgb(32, 32, 32);
$footerlink: rgb(2, 169, 220);
$footerhover: rgb(52, 152, 219);
$bgwhite: rgb(246, 247, 251); 
$validGreen: rgb(40, 167, 69);
$invalidRed: rgb(220, 53, 69);
$shadow: rgba(180, 180, 180, 0.3);

$navy: #09325f;
$dropdown-blue: #c5daf6;