$panelblue: rgb(98, 127, 162);
$teal: rgb(0, 171, 176);
$darkteal: rgb(4, 156, 165);
$lightgrey: rgb(218, 218, 218);
$darkgrey: rgb(107, 107, 107);
$darkblue: rgb(0, 21, 61);
$ade: rgb(226, 175, 75);
$subtherapeutic: rgb(119, 126, 167);
$see: rgb(247, 135, 100);
$inRange: rgb(140, 168, 170);
$warning: rgb(255, 193, 7);
$footerblack: rgb(32, 32, 32);
$footerlink: rgb(2, 169, 220);
$footerhover: rgb(52, 152, 219);
$bgwhite: rgb(246, 247, 251); 
$validGreen: rgb(40, 167, 69);
$invalidRed: rgb(220, 53, 69);
$shadow: rgba(180, 180, 180, 0.3);
$navy: rgb(14, 78, 149);
$dropdown-blue: rgb(197, 218, 246);
$lightest-grey: rgb(252, 252, 252);
$circle-button-blue: rgb(43, 82, 136);
$menu-grey: rgb(244, 244, 244);
$link-text: rgb(224, 135, 120);
$list-selected: rgb(240, 246, 253);
$skyblue: rgb(241, 246, 253);
$toggle-blue: rgb(81, 116, 155);
$toggle-grey: rgb(224, 224, 224);
$doseme-blue: rgb(9, 50, 95);

$pagination-grey: rgb(235, 239, 244);
$toggle-selected: rgb(249,239,224);
$toggle-unselected: rgb(248, 248, 248);