$panelblue: rgb(81, 88 ,115);
$teal: rgb(0, 171, 176);
$darkteal: rgb(4, 156, 165);
$lightgrey: rgb(222, 226, 230);
$darkgrey: rgb(107, 107, 107);
$darkblue: rgb(0, 21, 61) !important;
$ade: rgb(226, 175, 75);
$subtherapeutic: rgb(119, 126, 167);
$see: rgb(247, 135, 100);
$inRange: rgb(140, 168, 170);
$warning: rgb(255, 193, 7) !important;