@import '../style/colors.scss';

.co-add-button {
  color: $doseme-blue;
  display: flex;
  align-items: center;
  background: white;
  border: none;
  border-radius: 30px;
  padding: 7px 16px 7px 10px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 12px rgba(18, 50, 120, 0.18);
  }
}

.co-add-button-disabled {
  opacity: 0.3;
  color: grey;

  .co-add-icon {
    background: grey !important; // override blue
  }

  &:hover {
    cursor: not-allowed;
    box-shadow: none;
  }
}

.co-add-icon {
  height: 32px;
  width: 32px;
  margin: 0 10px 0 0;
}

.co-add-button-sm {
  height: 32px;
  padding: 7px 8px 7px 8px;
  font-size: 14px;
}