@import '../style/media.scss';

.confirm-modal {
  border-top: 6px solid red;
  background-color: white;
  margin-top: 150px;
  width: 538px;
  padding: 25px 15px;

  @include mobile-only {
    width: 100%;
  }

  button {
    text-transform: uppercase;
  }
  
  .delete-icon, .co-confirm-modal-error {
    color: red;
  }

  .buttons {
    margin-top: 25px;

    .btn {
      margin-left: 15px;
    }
  }
}

.confirm-subtitle {
  font-size: 1.1em;
  margin-bottom: 10px;
}
