@import '../../../style/colors';

.btn-light {
  color: $darkgrey;
}

.btn-outline-info {
  color: $teal;
  border-color: $teal;

  &:hover {
    border-color: $teal;
    background-color: $teal;
  }
}
