@import '../style/colors.scss';

@mixin button($color) {
  background: $color;
  border: 1px solid;
  height: 32px;
  display: flex;
  align-items: center;
  line-height: 0.5;
  border-radius: 5px;
  font-size: 1.075rem;
  padding: 12px;

  border-color: $color;
  color: white;

  &:hover {
    cursor: pointer;
    background: darken($color, 10);
    color: white;
    border-color: darken($color, 10);
  }

  &:active {
    color: white !important;
    background: $color !important;
    border-color: $color;
  }
  
  &:disabled {
    background: white;
    cursor: not-allowed;
    color: $color !important;
    border-color: $color;
    opacity: 0.25;
  }
}

.btn-primary {
  @include button($darkblue);
}

.btn-secondary {
  @include button($darkgrey);
}

.btn-success {
  @include button($darkteal);
}

.btn-danger {
  @include button($see);
}

.btn-warning {
  @include button($warning);
}

.btn-info {
  @include button($panelblue);
}

.btn-dark {
  @include button($footerblack);
}

.btn-light {
  @include button($lightgrey);
}

.circle {
  border-radius: 50%;
  display: inline-block;
  font-size: 12px;

  &.btn-sm {
    width: 30px;
    height: 30px;
  }

  &.btn-lg {
    width: 50px;
    height: 50px;
  }
}

.spinner-container {
  position: relative;
}

.spinner-display {
  position: absolute;
  top: -4px;
}

.child-keep-width {
  visibility: hidden;
}