.co-icon-button {
  outline: none;
  height: 32px;

  .co-icon-disabled {
    opacity: 0.5;
    fill: #AEAEAE;
    cursor: not-allowed;
    border: none;
    background: none;
    box-shadow: none;
  } 
}