@import '../style/colors.scss';

.validation-error-text {
  color: $invalidRed;
  text-transform: uppercase;
  font-size: 10px;
}

.co-form-field-label {
  font-size: 14px;
  padding: 0 0 5px 0;
}

.co-form-field-optional-label {
  text-transform: uppercase;
  font-size: 10px;
  color: $darkgrey;
  font-weight: bold;
  margin: 0 0 0 10px;
}
