.co-delete {
  border-radius: 50%;
  box-sizing: border-box;
  fill: red;
  background: rgba(129, 8, 11, 0.14);
  border: 1px solid rgba(129, 8, 11, 0.14);
  box-shadow: 0px 3px 6px rgba(17, 107, 114, 0.18);
}
