@import '../style/colors.scss';

.co-dots {
  padding: 2px 0;
  margin: 0 2px;
  width: 32px;
} 

.pagination {
  .co-pagination-btn {
    border-radius: 50%;
    width: 32px;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    color: grey;
    cursor: pointer;
    margin: 0 2px;

    &:focus { 
      outline:0;
    }
  }

  .co-pagination-btn {
    &:hover {
      background: $pagination-grey;
    }
  }

  .co-pagination-active {
    background: $panelblue;
    color:white;

    &:hover {
      background: $panelblue;
    }
  }
}
